body {
    background-image: url("/images/background_w8.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*  background-size: cover;*/
    width: 100%;
    height: 100%;
}

.back-top {
    background-color: hotpink;
    height: 5vh;
}

table.outgoing_msg td {
    font-size: 90%;
}
.back-main {
    background-color: #D9DBD5;
}

.back-container{
 position: relative;
}

.front-container{
 position: absolute;
 top:0;
 left:0;
 right: 0;
}
.front-container1{
 position: absolute;
 top:20px;
 left:0;
 right: 0;
}

.chat-top{
 background-color: #EDEDED;
 min-height: 50px;
}

.profile-image {
    margin-top: 7px;
    height: 30px;
    width: 30px;
    position: relative;
    display: inline-block;
}

.contacts{
 background-color: #ffffff;
 min-height: 600px;
}

.contact-table-scroll{
 overflow-y: scroll;
 height: 690px;
}

.message-area{
 background-color:  #e4e1de;
 min-height: 600px;
}

.message-table-scroll {
    overflow-y: scroll;
    height: 640px;
    background-image: url('/images/Lan.jpg');
    background-size: 900px 640px;
    background-repeat: no-repeat;

}

.message-box{
 background-color: #F0F0F0;
}

button{
    border:none;
    border-radius:50%;
}
.searchtext{
    float:right;
}
button:focus {
    outline: 0 !important;
}
button:active {
    background: #e4e1de;
    outline: none;
    border: none;
    /* border:dotted;*/
}
button.launch:hover {
    cursor: pointer;
    background-color: #FABD44;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 30px;
    left:37px;
}
.dot-2 {
    height: 8px;
    width: 8px;
  /*  background-color: #bbb;*/
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 51px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    word-wrap: break-word;
    max-width: 500px;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    word-wrap :break-word;
    max-width :500px;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -35px;
    color: #ed6ee2;
    font-size: 10px;
    width: 100px;
    margin-bottom: 20px;
    float: left;
    margin-right: -40px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -35px;
    color: #ed6ee2;
    font-size: 10px;
    width: 100px;
    margin-bottom: 20px;
    float: left;
    margin-right: -40px;
}
.img_cont_msg {
    height: 40px;
    width: 40px;
}
.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}